* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
p {
  font-family: var(--primaryFont--);
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  padding-bottom: 20px;
}

.customer {
  color: var(--primaryColor--);
  border-radius: 6px;
  border: 2px solid var(--primaryColor--);
  align-items: center;
}
.Korperativ {
  border-radius: 6px;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.358);
  border-radius: 6px;
  height: 45px;
}

.customer p {
  margin-bottom: 0;
}

.search {
  padding-left: 350px;
  display: flex;
  align-items: center;
}
.call {
  border: 2px solid var(--primaryColor--);
  margin-left: 20px;
  border-radius: 6px;
  background-color: var(--primaryColor--);
  width: 136px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call div p {
  color: white;
  font: 600 16px var(--primaryFont--);
}
.logo {
  /* margin: 0 0 0 20px; */
  padding-left: 10px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 58px;
}

.onlaynÖdeniş p {
  padding-top: 15px;
}
