* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
p,
a {
  font-family: var(--primaryFont--);
  font: 600 16px var(--primaryFont--);
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  padding-bottom: 20px;
}

.customer {
  color: var(--primaryColor--);
  border-radius: 6px;
  border: 2px solid var(--primaryColor--);
  align-items: center;
}
.Korperativ {
  border-radius: 6px;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.358);
  border-radius: 6px;
  height: 40px;
}

.customer p {
  margin-bottom: 0;
}

.search {
  padding-left: 350px;
  display: flex;
  align-items: center;
  border: rgba(128, 128, 128, 0.404);
  border-radius: 10px;
}

.input {
  padding-left: 15px;
  border: none;
  width: 100%;
}

.linkler {
  padding-right: 20px;
}
.linkler ul:last-child {
  margin-right: 20px;
}

.call {
  border: 2px solid var(--primaryColor--);
  margin-left: 20px;
  border-radius: 6px;
  background-color: var(--primaryColor--);
  width: 136px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call div p {
  color: white;
  font: 600 16px var(--primaryFont--);
}
.logo {
  /* margin: 0 0 0 20px; */
  padding-left: 10px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 58px;
}

.onlaynÖdeniş p {
  padding-top: 15px;
  padding-left: 15px;
}

.navbar {
  margin-left: 200px;
  margin-top: 0;
}

ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.bookACall {
  background-color: var(--primaryColor--);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 130px;
  height: 40px;
}

.secondSection ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.secondSection {
  margin-top: 54px;
}

.secondSection ul li:not(:last-child) {
  padding-right: 10px;
}
.li1 {
  border-bottom: 3px solid var(--primaryColor--);
}

.li1 a {
  color: var(--primaryColor--);
}

.dropdown {
  display: flex;
  align-items: center;
}
.dropdown div:not(:last-child)::after {
  content: ">";
  margin-left: 9px;
}
.continerHaqqimizda {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.containerHaqqimizdaLeft div img {
  width: 600px;
  height: 375px;
  object-fit: cover;
  border-radius: 8px;
}

.containerHaqqimizdaLeft div {
  margin-top: 30px;
}

.xett {
  width: 52px;
  height: 1px;
  border: 1px solid var(--primaryColor--);
}

.continerHaqqimizdaRight p {
  margin-top: 80px;
  font: 400 16px var(--primaryFont--);
  font-style: regular;
  color: #343434;
  line-height: 26px;
  letter-spacing: 1px;
}
