* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
p,
a {
  font-family: var(--primaryFont--);
  font: 600 16px var(--primaryFont--);
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  padding-bottom: 20px;
}

.customer {
  color: var(--primaryColor--);
  border-radius: 6px;
  border: 2px solid var(--primaryColor--);
  align-items: center;
}
.Korperativ {
  border-radius: 6px;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.358);
  border-radius: 6px;
  height: 40px;
}

.customer p {
  margin-bottom: 0;
}

.search {
  padding-left: 350px;
  display: flex;
  align-items: center;
  border: rgba(128, 128, 128, 0.404);
  border-radius: 10px;
}

.input {
  padding-left: 15px;
  border: none;
  width: 100%;
}

.linkler {
  padding-right: 20px;
}
.linkler ul:last-child {
  margin-right: 20px;
}

.call {
  border: 2px solid var(--primaryColor--);
  margin-left: 20px;
  border-radius: 6px;
  background-color: var(--primaryColor--);
  width: 136px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call div p {
  color: white;
  font: 600 16px var(--primaryFont--);
}
.logo {
  /* margin: 0 0 0 20px; */
  padding-left: 10px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 58px;
}
.onlaynÖdeniş2 {
  display: flex;
  align-items: center;
}

.onlaynÖdeniş p {
  padding-top: 15px;
  padding-left: 15px;
}

.navbar {
  margin-left: 200px;
  margin-top: 0;
}

ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.əsasSehive {
  width: 100px;
  text-align: center;
}

.bookACall {
  background-color: var(--primaryColor--);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 40px;
}

.bookACall p {
  color: white;
}

.secondSection ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.secondSection {
  margin-top: 54px;
}

.secondSection ul li:not(:last-child) {
  padding-right: 10px;
}
.li1 {
  border-bottom: 3px solid var(--primaryColor--);
}

.li1 a {
  color: var(--primaryColor--);
}

.dropdown {
  display: flex;
  align-items: center;
}
.dropdown div:not(:last-child)::after {
  content: ">";
  margin-left: 9px;
}
.continerHaqqimizda {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.containerHaqqimizdaLeft div img {
  width: 600px;
  height: 375px;
  object-fit: cover;
  border-radius: 8px;
}

.containerHaqqimizdaLeft div {
  margin-top: 30px;
}

.xett {
  width: 52px;
  height: 1px;
  border: 1px solid var(--primaryColor--);
}

.containerMissiyamiz {
  display: flex;
  margin-bottom: 100px;
}

.containerHaqqimizdaRight p {
  margin-top: 80px;
  font: 400 16px var(--primaryFont--);
  font-style: regular;
  color: #343434;
  line-height: 26px;
  letter-spacing: 1px;
}

.containerMissiyamizLeft {
  width: 604px;
  height: 690px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.containerMissiyamizLeft div .p5,
.p6,
.p7,
.p8 {
  color: white;
  font: 600 36px var(--primaryFont--);
}

.containerMissiyamizLeft > div:not(:last-child) {
  border-bottom: 1px solid #343434;
}

.containerMissiyamizLeft div {
  width: 228px;
  height: 130px;
  margin-top: 70px;
  margin-right: 70px;
}

.containerMissiyamizLeft div .p1,
.p2,
.p3,
.p4 {
  font: 500 16px var(--primaryFont--);
  font-style: medium;
  color: white;
  padding-top: 20px;
}

.containerMissiyamizRight {
  margin-left: 40px;
  width: 600px;
}

.containerMissiyamizRightText {
  margin-top: 20px;
  font: 400 16px var(--primaryFont--);
  font-style: regular;
  color: #343434;
  line-height: 26px;
  letter-spacing: 1px;
}

.xususiyyetlerimiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sürətliXidmət {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

div > svg {
  width: 50px;
  height: 20px;
}

.sürətliXidmət > div {
  border: 1px solid #343434;
  border-radius: 10px;
  width: 239px;
  height: 192px;
}

.xidmetLogo {
  width: 44px;
  height: 44px;
  border-radius: 54px;
  background: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 20px var(--mainFont);
  color: white;
  margin-bottom: 18px;
}

.xidmetTitle {
  font: 600 20px var(--mainFont);
  color: #111827;
  margin-bottom: 10px;
}
.haqqimizdaTitle p {
  font: 600 32px var(--mainFont);
  color: #111827;
}

.xidmetDesc {
  font: 400 16px var(--mainFont);
  color: #4c4c4c;
}

.bizNecəIşleyirik {
  margin-bottom: 120px;
}

.bizNecəIşleyirik ul li {
  padding-bottom: 20px;
}

.bizNecəIşleyirik ul div:nth-child(odd) li {
  padding-left: 20px;
  border-left: 8px solid #f2f2f2;
}

.bizNecəIşleyirik ul > div:nth-child(odd) {
  display: flex;
  justify-content: end;
}

.bizNecəIşleyirik ul div:nth-child(even) li {
  padding-right: 20px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-right: 8px solid #f2f2f2;
}

.bizNecəIşleyirik ul div:nth-child(even) li div.xidmetDesc {
  text-align: end;
}

.selectedLogo {
  background-color: var(--mainColor) !important;
}

.bizNecəIşleyirik ul div:nth-child(2) li {
  border-color: var(--mainColor);
}

.bizNecəIşleyirik ul > div:nth-child(1) li {
  border-radius: 10px 0 0 0;
}

.bizNecəIşleyirik ul > div:nth-child(6) li {
  border-radius: 0 0 10px 0;
}

.containerFooter {
  background-color: var(--primaryColor--);
  display: flex;
  border-radius: 10px;
}

.containerUl {
  background-color: var(--primaryColor--);
  border-radius: 10px;
  width: 100%;
  height: 400px;
  padding-top: 20px;
}

.containerUl ul {
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.containerUl ul.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.containerUl ul li img {
  width: 28px;
  height: 27px;
  border-radius: 14px;
}
